{% extends "@AdminBundle/Resources/views/Admin/base.html.twig" %}

{% block content %}
    <h2>Update admin</h2>
    <hr>
    <div class="row">
        {% if errors %}
            <div class="alert alert-danger">
                {{ errors }}
            </div>
        {% endif %}
        <div class="col-md-6">
            {#todo: naformatovat formular#}
            <div>
                {{ form_start(formForFields) }}
                {{ form_widget(formForFields) }}
                {{ form_end(formForFields) }}
            </div>
        </div>
        <div class="col-md-6">
            <div>
                {{ form_start(formForPassword) }}
                {{ form_widget(formForPassword) }}
                {{ form_end(formForPassword) }}
            </div>
        </div>
    </div>
{% endblock %}
