{% extends "@AdminBundle/Resources/views/EventType/base.html.twig" %}

{% block content %}
    <h2>Edit event</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <h3>Template Testing</h3>
        <div class="col-md-6">
            <p>{#todo: here comes form with email field for template testing#}</p>
        </div>
        <div class="col-md-6">
            <p>{#todo: here come links for template testing#}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="#" data-toggle="modal" data-target="#{{ 'assignModal' ~ event_id }}"
               class='btn btn-primary'>Assign Organizer</a>
            {% include "@AdminBundle/Resources/views/autocompleteModal.html.twig"
                with {
                    modal_id: 'assignModal' ~ event_id,
                    modal_title: 'Assign Organizer',
                    modal_content: 'Type to assign organizer.',
                    modal_input_name: modal_input_organizers,
                    modal_input_path: path( autocomplete_path ),
                    action_path: path('event_assign_organizer', {'id':event_type_id, 'event_id': event_id}),
                }
            %}
            {% if organizers | length == 0 %}
                <p>No Organizer found.</p>
            {% else %}
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Unassign</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for organizer in organizers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ organizer.email }}</td>
                            <td><a href="#" data-toggle="modal" data-target="#deleteModal{{ organizer.id }}">Unassign</a></td>
                        </tr>
                        {% include "@AdminBundle/Resources/views/modal.html.twig"
                            with {
                                modal_id: 'deleteModal' ~ organizer.id,
                                modal_title: 'Unassign Organizer',
                                modal_content: 'Are you sure you want to unassign ' ~ organizer.email ~ '?',
                                action_path: path('event_unassign_organizer', {
                                    'id': event_type_id,
                                    'event_id': event_id,
                                    'organizer_id': organizer.id
                                    }),
                            }
                        %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock %}
