{% extends "@AdminBundle/Resources/views/EventType/base.html.twig" %}

{% block content %}
    <h2>Edit event</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <h3 class="col-md-12">Template Testing</h3>
        <div class="col-md-6">
            {% if notFoundLanguages %}
                <p class="text-danger">The following languages were not found:</p>
                <ul>
                {% for language in notFoundLanguages %}
                    <li>{{language}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('test_event_languages', {'eventTypeId':event_type_id, 'eventId': event_id}) }}">Test Languages</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#testRegistrationEmail">Test registration email</a>
            {% include "@AdminBundle/Resources/views/testEmailModal.html.twig"
                with {
                    modal_id: 'testRegistrationEmail',
                    modal_title: 'Test Registration Email',
                    form: registrationTestForm,
                    action_path: path('test_registration_mail', {'eventId': event_id}),
                }
            %}
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#testReminderEmail">Test reminder email</a>
            {% include "@AdminBundle/Resources/views/testEmailModal.html.twig"
                with {
                    modal_id: 'testReminderEmail',
                    modal_title: 'Test Reminder Email',
                    form: reminderTestForm,
                    action_path: path('test_reminder_mail', {'eventId': event_id}),
                }
            %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="organizer">
            <a href="#" data-toggle="modal" data-target="#{{ 'assignOrganizerModal' ~ event_id }}"
               class='btn btn-primary'>Assign Organizer</a>
            {% include "@AdminBundle/Resources/views/autocompleteModal.html.twig"
                with {
                    modal_id: 'assignOrganizerModal' ~ event_id,
                    modal_title: 'Assign Organizer',
                    modal_content: 'Type to assign organizer.',
                    modal_input_name: modal_input_organizers,
                    modal_input_path: path( autocomplete_path_organizers ),
                    action_path: path('events_assign_organizer', {'id':event_type_id, 'event_id': event_id}),
                }
            %}
            {% if organizers | length == 0 %}
                <p>No Organizer found.</p>
            {% else %}
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Unassign</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for organizer in organizers %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ organizer.email }}</td>
                            <td><a href="#" data-toggle="modal" data-target="#deleteOrganizerModal{{ organizer.id }}">Unassign</a></td>
                        </tr>
                        {% include "@AdminBundle/Resources/views/modal.html.twig"
                            with {
                                modal_id: 'deleteOrganizerModal' ~ organizer.id,
                                modal_title: 'Unassign Organizer',
                                modal_content: 'Are you sure you want to unassign ' ~ organizer.email ~ '?',
                                action_path: path('events_unassign_organizer', {
                                    'id': event_type_id,
                                    'event_id': event_id,
                                    'organizer_id': organizer.id
                                    }),
                            }
                        %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="col-md-6" id="language">
            <a href="#" data-toggle="modal" data-target="#{{ 'assignLanguageModal' ~ event_id }}"
               class='btn btn-primary'>Assign Language</a>
            {% include "@AdminBundle/Resources/views/autocompleteModal.html.twig"
                with {
                    modal_id: 'assignLanguageModal' ~ event_id,
                    modal_title: 'Assign Language',
                    modal_content: 'Type to assign language.',
                    modal_input_name: modal_input_languages,
                    modal_input_path: path( autocomplete_path_languages ),
                    action_path: path('events_assign_language', {'id':event_type_id, 'event_id': event_id}),
                }
            %}
            {% if languages | length == 0 %}
                <p>No Language found.</p>
            {% else %}
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Language</th>
                        <th scope="col">Unassign</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for language in languages %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ language.language }}</td>
                                <td><a href="#" data-toggle="modal" data-target="#deleteLanguageModal{{ language.id }}">Unassign</a></td>
                            </tr>
                            {% include "@AdminBundle/Resources/views/modal.html.twig"
                                with {
                                    modal_id: 'deleteLanguageModal' ~ language.id,
                                    modal_title: 'Unassign Language',
                                    modal_content: 'Are you sure you want to unassign ' ~ language.language ~ '?',
                                    action_path: path('events_unassign_language', {
                                        'id': event_type_id,
                                        'event_id': event_id,
                                        'language_id': language.id
                                    }),
                                }
                            %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
