{% extends "@AdminBundle/Resources/views/EventType/base.html.twig" %}

{% block content %}
    <h2>Edit Event Type: {{ form.vars.value.slug }}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <h3>Template Testing</h3>
        <div class="col-md-6">
            {% for url in testUrls %}
                <a href="{{url}}">url</a><br>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary" href="{{ path('event_test_languages', {'eventTypeId':form.vars.value.id}) }}"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <a class='btn btn-primary' href="{{ path('events_add', {'id':form.vars.value.id}) }}">Add new Event</a>
            {% if events | length == 0 %}
                <div><p>No Event found.</p></div>
            {% else %}
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Place</th>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ event.address }}</td>
                            <td>{{ event.dateTime|date("jS F Y h:i A") }}</td>
                            <td><a href="{{ path('events_edit', {'event_id':event.id, 'id': form.vars.value.id}) }}">Edit</a></td>
                            <td><a href="#" data-toggle="modal" data-target="#deleteModal{{ event.id }}">Delete</a></td>
                        </tr>
                        {% include "@AdminBundle/Resources/views/modal.html.twig"
                            with {
                                modal_id: 'deleteModal' ~ event.id,
                                modal_title: 'Delete Event',
                                modal_content: 'Are you sure you want to delete ' ~ event.address ~ '?',
                                action_path: path('events_delete', {'event_id':event.id, 'id':form.vars.value.id}),
                            }
                        %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="col-md-5">

        </div>
    </div>
{% endblock %}
