{% extends "@AdminBundle/Resources/views/EventType/base.html.twig" %}

{% block content %}
    <h1 class="contents">
        <span>Event Type</span>
        <a class='btn btn-primary float-sm-right' href="{{ path('event_type_add') }}">Add new Event Type</a>
    </h1>
    {% if eventTypes | length == 0 %}
        <p>No Event Type found.</p>
    {% else %}
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Slug</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for eventType in eventTypes %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ eventType.slug }}</td>
                    <td><a href="{{ path('event_type_edit',{'id':eventType.id} ) }}">Edit</a></td>
                    <td><a href="#" data-toggle="modal" data-target="#deleteModal{{ eventType.id }}">Delete</a></td>
                </tr>
                {% include "@AdminBundle/Resources/views/modal.html.twig"
                with {
                modal_id: 'deleteModal' ~ eventType.id,
                modal_title: 'Delete Event Type',
                modal_content: 'Are you sure you want to delete ' ~ eventType.slug ~ '?',
                action_path: path('event_type_delete', {'id':eventType.id}),
                }
                %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
