<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignModalLabel">{{ modal_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{{ action_path }}">
                <div class="modal-body">
                    {{ modal_content }}

                    <div class="ui-widget">
                        <label for="birds">{{ modal_title }}</label>
                        <input
                                name="{{ modal_input_name }}"
                                data-autocomplete-path="{{ modal_input_path }}"
                                id="modal_input"
                        >
                        <div id="log" class="ui-widget-content log"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Assign</button>
                </div>
            </form>
        </div>
    </div>
</div>
