<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignModalLabel">{{ modal_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="{{ action_path }}">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="modal_input_{{ modal_input_name }}">{{ modal_content }}</label>
                            <input
                                type="text"
                                class="form-control"
                                name="{{ modal_input_name }}"
                                data-autocomplete-path="{{ modal_input_path }}"
                                id="modal_input_{{ modal_input_name }}"
                            />
                        </div>
                    </div>
                    <div class="list-group">
                        <div id="log_{{ modal_input_name }}"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Assign</button>
                </div>
            </form>
        </div>
    </div>
</div>
